.btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: var(--font-red);
  font-weight: 700;
  font-size: 14px;
  padding: 16px;
  text-align: center;
  border-radius: 12px;
}

.btn-primary {
  background-color: var(--bright-blue);
  color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-primary:hover {
  background-color: hsl(245, 75%, 72%);
}

.btn-primary-outlined {
  background-color: transparent;
  color: var(--bright-blue);
  border: 1px solid var(--bright-blue);
}

.btn-primary-outlined:hover {
  background-color: hsl(245, 75%, 82%);
}

.btn-primary-text {
  background-color: transparent;
  color: var(--bright-blue);
  border: none;
  padding: 0;
}

.btn-primary-text:hover, .link:hover {
  color: hsl(245, 75%, 72%);
  text-decoration: none;
}

.btn-secondary {
  background-color: var(--dark-blue);
  color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btn-secondary:hover {
  background-color: hsl(223, 47%, 43%);
}

.btn-secondary-outlined {
  background-color: transparent;
  color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

.btn-secondary-outlined:hover {
  background-color: hsl(223, 47%, 63%);
}

.btn-secondary-text {
  background-color: transparent;
  color: var(--dark-blue);
  border: none;
  padding: 0;
}

.btn-secondary-text:hover {
  color: hsl(223, 47%, 63%);
}

.link {
  color: var(--bright-blue);
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-decoration: underline;
}
